* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  background:
linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
background-color:#708090;
background-size: 64px 128px;
  padding: 25px;
}
#card-front,#card-inside .wrap,#card-inside{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
#card-front {
  color: #FFDFDF;
  text-align: center;
}
#card-front p{
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
}
#card-front .link{
	background-color: #E91E63;
	font-family: 'Pacifico', cursive;
	border-radius: 10px;
	padding: 15px;
	font-size: 20px;
	
	transition:         all 0.2 linear;
    -moz-transition:    all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
#card-front .link:hover{
	cursor:pointer;
	background-color: #EC407A;
}

#card, #card-front, #card-inside {
  height: 80vh;
}

.wrap {
    padding: 2em 3em;
    
    height: 100%;
}
#card-front, #card-inside {
  width: 50%;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
  position: absolute;
  left: 50%;
}


#card-inside .wrap {
    background: #FFEFEF;
    -webkit-box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
    box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
}
#card {
    max-width: 70vw;
    margin: 0 auto;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 5000px;
    -moz-perspective: 5000px;
    -webkit-perspective: 5000px;
    position: relative;
}

#card h1 {
    font-family: 'Pacifico', cursive;
    font-size: 48px;
    color: white;
}
#card-inside {
    font-size: 1.1em;
    line-height: 1.4;
    font-family: 'Raleway', sans-serif;
    color: #331717;
    font-style: italic;
}

p {
    margin-top: 1em;
}

p:first-child {
    margin-top: 0;
}

p.signed {
    margin-top: 1.5em;
    text-align: right;
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
}
 #card-front img{
	opacity:1;
	transition:         all 0.5 linear;
       -moz-transition:    all 0.5s linear;
    -webkit-transition: all 0.5s linear;
}
#card.open-fully #card-front img{
	opacity:0;
}
#card-front {
background: 
radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%),
radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%),
radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%),

radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%) 50px 50px;
background-color:#b03;
background-size:100px 100px;
            transform-origin: left;
       -moz-transform-origin: left;
    -webkit-transform-origin: left;
            transition:         transform 1s linear;
       -moz-transition:    -moz-transform 1s linear;
    -webkit-transition: -webkit-transform 1s linear;
    position: relative;
}

#card-front .wrap {
            transition: background 1s linear;
       -moz-transition: background 1s linear;
    -webkit-transition: background 1s linear;
}

#card-front button {
  position: absolute;
  bottom: 1em;
  right: -1.25em;
  
  height:2.5em;
  width:2.5em;
  
  background: #F44;
  color: #FFF;
  
  
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
  
  padding: 0.5em;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

#card-front button:hover,
#card-front button:focus {
  background: #F22;
}

#close {
  display: none;
}

#card.open-fully #close,
#card-open-half #close {
  display: inline;
}

#card.open-fully #open {
  display: none;
}


#card.open-half #card-front,
#card.close-half #card-front {
            transform: rotateY(-90deg);
       -moz-transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
}
#card.open-half #card-front .wrap {
    background-color: rgba(0, 0, 0, .5);
}

#card.open-fully #card-front,
#card.close-half #card-front {
  background: #FFEFEF;
}

#card.open-fully #card-front {
    transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}

#card.open-fully #card-front .wrap {
    background-color: rgba(0, 0, 0, 0);
}

#card.open-fully #card-front .wrap *,
#card.close-half #card-front .wrap * {
   display: none;
}

#error-msg{
  color: #EEEEEE;
  width: 100%;
  background-color: #E53935;
  padding: 1.5em 1em;
  letter-spacing: 2px;

  display: none;
}

@media only screen and (max-width: 1020px) {
    #card {
        display: none;
    }
    #error-msg{
      display: block;
    }
}